extends ../layout

append style
  link(rel='stylesheet' href=require('./game.scss'))

append script
  script(src=require('./game.js'))

block content
  -const column = [100, 200, 300, 400, 500];

  .game
    .game-wrap
      .board-wrapper.js-board.visible
        .board
          .main-board
            h2 
              a.to-home(href='index.html') Какая то игра!
            .game-grid
              .game-column
                .title.js-title ?
                .question-button-wrapper
                  .question-button(data-score=column[0], qnumber=1).js-firstRow
                    span.dollar $
                    =column[0]
                .question-button-wrapper
                  .question-button(data-score=column[1] qnumber=2).js-firstRow
                    span.dollar $
                    =column[1]
                .question-button-wrapper
                  .question-button(data-score=column[2] qnumber=3).js-firstRow
                    span.dollar $
                    =column[2]
                .question-button-wrapper
                  .question-button(data-score=column[3] qnumber=4).js-firstRow
                    span.dollar $
                    =column[3]
                .question-button-wrapper
                  .question-button(data-score=column[4] qnumber=5).js-firstRow
                    span.dollar $
                    =column[4]
              .game-column
                .title.js-title ?
                .question-button-wrapper
                  .question-button(data-score=column[0]).js-secondRow
                    span.dollar $
                    =column[0]
                .question-button-wrapper
                  .question-button(data-score=column[1]).js-secondRow
                    span.dollar $
                    =column[1]
                .question-button-wrapper
                  .question-button(data-score=column[2]).js-secondRow
                    span.dollar $
                    =column[2]
                .question-button-wrapper
                  .question-button(data-score=column[3]).js-secondRow
                    span.dollar $
                    =column[3]
                .question-button-wrapper
                  .question-button(data-score=column[4]).js-secondRow
                    span.dollar $
                    =column[4]
              .game-column
                .title.js-title ?
                .question-button-wrapper
                  .question-button(data-score=column[0]).js-thirdRow
                    span.dollar $
                    =column[0]
                .question-button-wrapper
                  .question-button(data-score=column[1]).js-thirdRow
                    span.dollar $
                    =column[1]
                .question-button-wrapper
                  .question-button(data-score=column[2]).js-thirdRow
                    span.dollar $
                    =column[2]
                .question-button-wrapper
                  .question-button(data-score=column[3]).js-thirdRow
                    span.dollar $
                    =column[3]
                .question-button-wrapper
                  .question-button(data-score=column[4]).js-thirdRow
                    span.dollar $
                    =column[4]
              .game-column
                .title.js-title ?
                .question-button-wrapper
                  .question-button(data-score=column[0]).js-fourthRow
                    span.dollar $
                    =column[0]
                .question-button-wrapper
                  .question-button(data-score=column[1]).js-fourthRow
                    span.dollar $
                    =column[1]
                .question-button-wrapper
                  .question-button(data-score=column[2]).js-fourthRow
                    span.dollar $
                    =column[2]
                .question-button-wrapper
                  .question-button(data-score=column[3]).js-fourthRow
                    span.dollar $
                    =column[3]
                .question-button-wrapper
                  .question-button(data-score=column[4]).js-fourthRow
                    span.dollar $
                    =column[4]
              .game-column
                .title.js-title ?
                .question-button-wrapper
                  .question-button(data-score=column[0]).js-fifthRow
                    span.dollar $
                    =column[0]
                .question-button-wrapper
                  .question-button(data-score=column[1]).js-fifthRow
                    span.dollar $
                    =column[1]
                .question-button-wrapper
                  .question-button(data-score=column[2]).js-fifthRow
                    span.dollar $
                    =column[2]
                .question-button-wrapper
                  .question-button(data-score=column[3]).js-fifthRow
                    span.dollar $
                    =column[3]
                .question-button-wrapper
                  .question-button(data-score=column[4]).js-fifthRow
                    span.dollar $
                    =column[4]
      .questionWindow.js-questionWindow.invisible
        .questionWindow__wrap.js-questionWindow__text-wrap
          h1.question.js-question  
          .question__text.js-question__text-wrap
              span.js-question__text 
              span.answer-btn.js-answer-btn(style="z-index: 5") Показать правильный ответ
          .btns
            button.js-questionWindow__next.next.questionWindow__vars.disable
              span.js-questionWindow__next Далее

          
    .teams.js-teams
      include ./time.pug
 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //-   div.js-quest-content.invisible
  //-     iframe(src="https://www.youtube.com/embed/2Ia9E-7SaXI?amp&autoplay=1&start=1" title="Yo" frameborder="0" allow="accelerometer; autoplay; ")
  //-       //- video(src="https://doc-10-bc-docs.googleusercontent.com/docs/securesc/6bmlqhpe38ac6id7a9h5esdnkbfjaim3/6l4hfcm2d3lj1c3fe320l0ebkrp81jv1/1656598650000/12892186614617424121/01658595387627454423/0B1lk_563BApdOXZsX2RwSzBxZXc?resourcekey=0-OqVE02Pv-oETWQ3i2uoeLg&e=download&ax=ACxEAsaSrL7nG1qEnGnn-mxzlp8ZOjSE_RJ6DYh38W8adnXoQ75v3FtjnoUFSp7EJdjzCa0iVFH-VsqzMYvslARCVy7az_O3l8u5YWbYk6lvZZkaWEv7kIK2e_7jQvAHTNzEth-cGF5Zv_KT-gqIEcx787MthQEpQzJbASClqK7kC9UD2nDayTPCAbFJ1gK2Rd867KF_10Z-x56KannS2Gl5JBgmBlhf9kuDt7o2_XARkmLsVGKJkbMt8kA5DijEmWjN73Q-bsiEhwapKGxo-MTqPMqdOHCob0xFdzOkwDwcYULEgjD5E_N76mp6bwjZmAYcs1Ox2R8UIRiHmSp_N8CJXxGDWQB0bnf2mrub_W2ATys4R8UB3qAsl9SfNFw-ObocSaONBPys63mWSUZT4fujkPq7SvmMuRt7wobn7wKAZk31JagWjq_W-tdoCMsK5Y3qVp-TONc41u45rLBz3T0CAWS8ItrW16hh4g3lrGAeg1tcjISE9UYvge-O3zsrKRSDx_b-Y1kInPSPLnZhr8FcV0pvmmF9bo3FblHEwQ4gbgsctgmEgRfeJCa5663xaxSJNgxvDA-fcx7plZOSFZRA9OcX9jvGt1_8n5fM6HP81WNWbLgTb1frKLrqgKvH0OyUTfhXyJ2R9TLUoIbdADjmy-qMSwStsyIWxNb8jRRHRh-Zh5aMHiEJNgV0pjfubEfssTbmrsKjybQMJBuKXDDcXkgJxRXgFmIZTdD4G4-iWA&uuid=b2cc8398-ae13-43f9-9111-20e45bec665a&authuser=0&nonce=vpetgiiu45fc0&user=01658595387627454423&hash=b5aoojq7i7m6u5h0llldf5fobv370ucd"  controls) 
  //-   div.js-quest-content.invisible
  //-     img(src="https://crosti.ru/patterns/00/21/c8/1bc190b256/picture.jpg")

  //-   div.js-quest-content.invisible
  //-     iframe(frameborder="0" style="border:none;width:100%;height:180px;" width="100%" height="180" src="https://music.yandex.ru/iframe/#track/44093414/1581808")
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //- template.js-second-theme__content 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/favicon.ico'))
  //-   div.js-quest-content.invisible
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //- template.js-third-theme__content 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //-   div.js-quest-content.invisible
  //-     //- video(src=require('~Videos/1.mp4'),  controls) 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/favicon.ico'))
  //-   div.js-quest-content.invisible
  //-     //- audio(src=require('~Audio/1.wav')  controls)
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //- template.js-fourth-theme__content 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //-   div.js-quest-content.invisible
  //-     //- video(src=require('~Videos/1.mp4'),  controls) 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/favicon.ico'))
  //-   div.js-quest-content.invisible
  //-     //- audio(src=require('~Audio/1.wav')  controls)
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //- template.js-fifth-theme__content 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //-   div.js-quest-content.invisible
  //-     //- video(src=require('~Videos/1.mp4'),  controls) 
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/favicon.ico'))
  //-   div.js-quest-content.invisible
  //-     //- audio(src=require('~Audio/1.wav')  controls)
  //-   div.js-quest-content.invisible
  //-     img(src=require('~Images/1.png'))
  //- template.js-first-theme__content
  //-     img(src=require('~Images/favicon.ico'))
  //- template.js-second-theme__content 
  //- template.js-third-theme__content 
  //- template.js-fourth-theme__content 
  //- template.js-fifth-theme__content 
  //-     img(src=require('~Images/1.png'))
  //- template.js-first-theme__content
  //-     img(src=require('~Images/favicon.ico'))
  //- template.js-second-theme__content 
  //- template.js-third-theme__content 
  //- template.js-fourth-theme__content 
  //- template.js-fifth-theme__content 
  //-     img(src=require('~Images/1.png'))
  //- template.js-first-theme__content
  //-     img(src=require('~Images/favicon.ico'))
  //- template.js-second-theme__content 
  //- template.js-third-theme__content 
  //- template.js-fourth-theme__content 
  //- template.js-fifth-theme__content 
  //-     img(src=require('~Images/1.png'))
  //- template.js-first-theme__content
  //-     img(src=require('~Images/favicon.ico'))
  //- template.js-second-theme__content 
  //- template.js-third-theme__content 
  //- template.js-fourth-theme__content 
  //- template.js-fifth-theme__content 
  //-     img(src=require('~Images/1.png'))
      